header{
  padding-top: 18px;
  padding-bottom: 40px;
  border-bottom: 1px solid $color-text;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title-large{
    margin-top: -8px;
    margin-bottom: 4px;
  }
  .subtitle-light{
    max-width: 712px;
  }
}
