body{
  font-family: 'Manrope', sans-serif;
  color: $color-text;
}
a{
  color: inherit;
  text-decoration: none;
}
input, textarea{
  font-family: 'Manrope';
  &::placeholder{
    opacity: 1;
    font-weight: unset;
    font-family: inherit;
  }
  &:focus{
    &::placeholder{
      opacity: 0;
    }
  }
}
